<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Asignar Cursos a Estudiante</title>
    <!-- Incluir Bootstrap para el estilo -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h2>Asignar Cursos a Estudiante: [[${student.firstName}]] [[${student.lastName}]]</h2>
    <form th:action="@{/student/saveAssignedCourse}" method="post">
        <div class="form-group">
            <label>Seleccionar Curso</label>
            <div class="form-check" th:each="course : ${activeCourses}">
                <input class="form-check-input" type="checkbox" th:value="${course.id}" th:name="courseIds">
                <label class="form-check-label" th:text="${course.grade} + ' ' + ${course.division}"></label>
            </div>
        </div>
        <input type="hidden" th:value="${student.id}" name="studentId"/>
        <button type="submit" class="btn btn-primary">Asignar</button>
    </form>
</div>

</body>
</html>

