<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Asignar Rol a Preceptor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Asignar Rol a Preceptor</h2>
    <form th:action="@{/assistant/saveUser/{assistantId}(assistantId=${assistantId})}" th:object="${user}" method="post">
        <div class="form-group">
            <label for="username">Nombre de Usuario:</label>
            <input type="text" class="form-control" id="username" th:field="*{username}" placeholder="Ingrese el nombre de usuario">
        </div>
        <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" class="form-control" id="password" th:field="*{password}" placeholder="Ingrese la contraseña">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="enabled" th:field="*{enabled}">
            <label class="form-check-label" for="enabled">Activo</label>
        </div>
        <div class="form-group">
            <label for="authority">Rol:</label>
            <select class="form-control" id="authority" th:field="*{authority}">
                <option th:each="authority : ${authorities}" th:value="${authority.id}" th:text="${authority.authority}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
