<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mis Cursos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <h2>Mis Cursos</h2>
    <div class="list-group">
        <div th:each="entry : ${coursesWithSubjects}">
            <a href="#" th:href="@{/assistant/courseStudents/{courseId}(courseId=${entry.key.id})}" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1" th:text="${entry.key.grade} + ' ' + ${entry.key.division} + ' - ' + ${entry.key.orientation}"></h5>
                </div>
                <p class="mb-1">Materias:</p>
                <small>
                    <span th:each="subject, iterStat : ${entry.value}">
                        <span th:text="${subject.name}"></span><span th:if="${!iterStat.last}">, </span>
                    </span>
                </small>
            </a>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>