<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cursos del Docente</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h2>Cursos Activos</h2>
    <div th:each="course : ${activeCourses}">
        <div class="row">
            <div class="col-md-4">
                <p>Curso: <span th:text="${course.grade} + ' ' + ${course.division}"></span></p>
            </div>
            <div class="col-md-4">
                <p>Materia:
                    <span th:each="subject : ${activeSubjects}">
                        <span th:if="${subject.course.id == course.id}" th:text="${subject.subjectName}"></span>
                    </span>
                </p>
            </div>
            <div class="col-md-4">
                <!-- Botones -->
                <a th:href="@{/teacher/courseDetails/{courseId}(courseId=${course.id})}" class="btn btn-info btn-sm">Detalles</a>

                <span th:each="subject : ${activeSubjects}">
                     <a th:if="${subject.course.id == course.id}" th:href="@{/teacher/showMarkHome/{courseId}/{subjectId}(courseId=${course.id}, subjectId=${subject.id})}" class="btn btn-primary btn-sm">Calificaciones ></a>
                </span>


            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
