<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Eliminar Asignaciones</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h2>Eliminar Asignaciones</h2>
    <form th:action="@{/teacher/deleteAssignment/{teacherId}(teacherId=${teacherId})}" method="post">

    <div class="form-group">
            <div th:each="assignment, iterStat : ${assignments}">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:value="${assignment.id}" name="assignmentIds" th:id="${'assignment' + iterStat.index}"/>
                    <label class="form-check-label" th:for="${'assignment' + iterStat.index}" th:text="${assignment.schoolSubject.subjectName}">Materia</label>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-danger">Eliminar Seleccionados</button>
    </form>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js" integrity="sha384-ZzWtAowoX0N0Hpt4ZrXjw7HSp/cQSJsymVqmuXoeWuB41mktFpv31vu2wp4yCv3z" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy4Ck4SOF4y4Ck4C2DgHfViXydVeLm+JDM" crossorigin="anonymous"></script>

</body>
</html>
