<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalle del Curso</title>
    <!-- Incluir CSS de Bootstrap -->
</head>
<body>
<div class="container mt-3">
    <h2>Detalle del Curso: <span th:text="${course.grade}"></span></h2>
    <div>
        <h3>Alumnos Activos</h3>
        <ul class="list-group">
            <li class="list-group-item" th:each="student : ${activeStudents}">
                <span th:text="${student.firstName}"></span>
            </li>
        </ul>
    </div>
</div>
<!-- Incluir scripts de JS de Bootstrap -->
</body>
</html>
